<h1>Result of Two Number Multiplication</h1>

<form action="/home/calculate2number" method="post">
    <label>Number 1:</label>
    <input type="number" name="n1" value="@ViewBag.n1" />
    <label>Number 2:</label>
    <input type="number" name="n2" value="@ViewBag.n2" />
    <input type="submit" value="Calculate" />
    <h2>Result:@ViewBag.Result</h2>
</form>