<style>
    *{
        text-align:center
    }
</style>
<body style="background-color:green">
    <h1>Hello,I am comming from index view.</h1>
    <h2>Hello,I am H2</h2>
    <h1>Time is :  @ViewBag.Msg</h1>
    <a  href="/home/index">index</a> | 
    <a href="/home/say">test json result</a> |
    <a href="/home/calculate2number">calculate2number</a>
</body>
