<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<form>
    <h1>Order information</h1>
    <label>Id</label>
    <input type="text" id="txtId"/>
    <label>Quantity</label>
    <input type="number" id="txtQuantity"/>
    <label>Unit Price</label>
    <input type="number" id="txtUnitPrice"/>
    <button id="btnMakeOrder">make order</button>
    <h1 id="txtYourTotal"></h1>
</form>
<script>
    $("#btnMakeOrder").click(function (evt) {
        debugger;
        evt.preventDefault();
        var anOrder = {};
        anOrder.Id = $("#txtId").val();//get the input value of txt Id 
        anOrder.Quantity = $("#txtQuantity").val();//get the input value of txt Quantity
        anOrder.UnitPrice = $("#txtUnitPrice").val();//get the input value of txtUnitPrice
        var url = "/order/MakeAnOrder";
        $.ajax({
        type:"POST",
        url:url,
        data:anOrder,
        success: function (response) {
            var result = "Your Total Amount is " + response;
            $("#txtYourTotal").html(result);//set the result to the h1 tag
            },
        failure: function (response) {
                console.log("error");
            }
        });
    });
</script>