<form action="/student/MultiStudent" method="post">
    <h1>Student 1</h1>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Id" required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">FistName</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="FirstName" required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">LastName</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="LastName" required>
        </div>
    </div>
    <hr />
    <h1>Student 2</h1>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Id" required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">FistName</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="FirstName" required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">LastName</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="LastName" required>
        </div>
    </div>
    <div>
        <input type="submit" value="Entry" class="form-control"/>
    </div>
</form>